<?xml version="1.0"?>
<launch>
  <arg name="mapname" default="asl_office_j" />
  <arg name="mapfolder" default="$(env HOME)/maps"/>
  <arg name="script_args" default=""/>

  <!-- Simulator -->
  <include file="$(find asl_pepper_2d_simulator)/launch/pepper_2d_simulator.launch"/>

  <!-- Gmapping & Map Matching -->
  <include file="$(find asl_pepper_gmapping)/launch/gmapping.launch">
    <arg name="output" value="log"/>
  </include>
  <include file="$(find map_matcher)/launch/map_matcher.launch">
    <arg name="output" value="log" />
    <arg name="slam_map_topic" value="/gmap"/>
    <arg name="reference_map_name" value="$(arg mapname)"/>
    <arg name="maps_folder" value="$(arg mapfolder)"/>
  </include>

  <!-- Global Path Planning -->
  <node pkg="asl_pepper_motion_planning" type="global_planner"
    name="global_planner" args="--hz" output="log" >
    <param name="reference_map_name" value="$(arg mapname)"/>
    <param name="reference_map_folder" value="$(arg mapfolder)"/>
    <param name="waypoint_distance" value="1.5" />
  </node>

  <!-- Launch holonomic RDS server and its GUI -->
  <include file="$(find rds_ros)/launch/rds_holonomic.launch" />
  <!-- RDS planner -->
  <node pkg="responsive" type="rds_planner" name="rds_planner" output="screen"
    args="$(arg script_args)">
  </node>

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(env HOME)/.rviz/responsive.rviz" />
</launch>
